.background {
    background-color: rgb(173, 216, 230);
}

.mainfont {
    font-family: "Courier New", Courier, monospace;
}

.headback {
    background-color: rgb(166, 209, 223);
    height: 40vh;
    width: 100%;
}

.welcomehead {
    font-size: 10vh;
    text-align: center;
}
